<div class="col-sm-2 col-lg-2 col-md-2 text-center vertical-center ">
  <a href= <%= path %> class="btn btn-default manage-students"  style ="width:100%">
          <i class="fa <%= icon %> front-page-icon-font"></i> <br />
          <%= name %>
  </a>
</div>