<div class="col-sm-3 text-center">
    <div class="panel panel-default">
        <div class="panel-heading default-color">Do you have a college...?</div>
        <div class="panel-body">
            <i class="fa fa-university front-page-icon-font"></i>
            Colleges can post their updates to differnt college students
            They can advertise about the infrastructure of their colleges. The can let others know off campus drives, fests that are conducted in their college. Colleges can exhibit their students talent to the world....
        </div>
    </div>
</div>