


<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="panel panel-default">
                <div class="panel-heading default-color"><h4><%= fa_icon "newspaper-o" %>  Collage Feeds..</h4></div>
                <div class="panel-body">
                    <div id="newsfeed" class="col-sm-12">

                      <div id="activities">

                      </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>
