<div class="col-sm-3 text-center">
    <div class="panel panel-default">
        <div class="panel-heading default-color">Are You A Student...?</div>
        <div class="panel-body">
            <i class="fa fa-graduation-cap front-page-icon-font"></i>
            Mehub is a place where students can interact with each other…
Students can know about different updates of different colleges…
Freshers can know about different branches and their course structure and students rating for their colleges….

        </div>
    </div>
</div>
<!--
Final years can know off campus drives …. expert opinions to crack interviews … different interview questions….
Mehub offers different courses where students can attend and enhance their skills….
Mehub conducts different challenges to encourage  healthy competition  between students...
-->