<!-- THIS FILE NAME IS FIND_FRIENDS BUT IN WEBSITE BUTTON IS SEARCH COLLEGES -->

<div class="row">
  <!-- <div class="col-sm-3">
    <%= render 'shared/user_info' %>
    <%= render 'shared/educationbox' %>  
  </div> -->
  <div class="col-sm-12 well">
    <h3>Find Friends</h3>
    <hr>
    <div id="users">
      <%= render(@users) || render('shared/no_resource', resources: 'Users') %>
    </div>
    <%= render 'shared/paginate', resources: @users %>
  </div>
  <div class="col-sm-3">
    <%#= render 'shared/links' %>
  </div>
</div>