
<div class="container">
    <div class="row" class="col-sm-12">

        <%= render partial: "student" %>
        <%= render partial: "concept" %>
        <%= render partial: "college" %>
    </div>
</div>
<%#= render partial: "other_products" %>
<%= render partial: "news_feeds" %>